<!DOCTYPE html>
<html lang="pt-BR">

<head>

    <meta charset="UTF-8">

    <title>Agenda Médica</title>

    <link href="https://unpkg.com/tabulator-tables@6.3.1/dist/css/tabulator.min.css" rel="stylesheet">

</head>


<body>


<h1>Agenda Médica</h1>


<input 
    type="text" 
    id="busca"
    placeholder="Buscar por CPF, paciente ou médico"
>


<br><br>


<div id="tabela"></div>



<script src="https://unpkg.com/tabulator-tables@6.3.1/dist/js/tabulator.min.js"></script>


<script>


const token = localStorage.getItem("token");


if (!token) {

    alert("Usuário não autenticado");

    window.location.href = "/";

}



let dadosAgenda = [];



fetch("/agendamentos", {

    method: "GET",

    headers: {

        "Authorization": "Bearer " + token

    }

})


.then(response => response.json())


.then(data => {


    if(data.erro){

        alert(data.erro);

        return;

    }


    dadosAgenda = data;


    carregarTabela(dadosAgenda);


})

.catch(error => {


    alert("Erro ao carregar agenda");


});





function carregarTabela(dados){


new Tabulator("#tabela", {


    data:dados,


    layout:"fitColumns",


    pagination:"local",


    paginationSize:10,


    columns:[


        {
            title:"Data",
            field:"data"
        },


        {
            title:"Horário",
            field:"horario"
        },


        {
            title:"Paciente",
            field:"paciente"
        },


        {
            title:"CPF",
            field:"cpf"
        },


        {
            title:"Médico",
            field:"medico"
        },


        {
            title:"Especialidade",
            field:"especialidade"
        },


        {
            title:"Convênio",
            field:"convenio"
        },


        {
            title:"Status",
            field:"status"
        }


    ]


});


}



document
.getElementById("busca")
.addEventListener(
"keyup",
function(){


let valor = this.value.toLowerCase();


let filtrados = dadosAgenda.filter(item =>


item.paciente.toLowerCase().includes(valor)

||

item.cpf.includes(valor)

||

item.medico.toLowerCase().includes(valor)


);


carregarTabela(filtrados);


});



</script>


</body>

</html>