<!doctype html>
<html lang="pt-BR">
  <head>
    <meta charset="UTF-8" />
    <title>Agenda Médica</title>

    <link
      rel="stylesheet"
      href="{{ url_for('static', filename='css/style.css') }}"
    />
  </head>

  <body class="login-page">
    <div class="login-container">
      <div class="login-card">
        <h1>Agenda Médica</h1>

        <p class="subtitle">Acesse sua conta para visualizar os agendamentos</p>

        <form id="loginForm">
          <label>Email</label>

          <input
            type="email"
            id="email"
            placeholder="Digite seu email"
            required
          />

          <label>Senha</label>

          <input
            type="password"
            id="senha"
            placeholder="Digite sua senha"
            required
          />

          <button type="submit">Entrar</button>
        </form>

        <p id="mensagem"></p>
      </div>
    </div>

    <script>
      const formulario = document.getElementById("loginForm");

      formulario.addEventListener("submit", async function (event) {
        event.preventDefault();

        const resposta = await fetch("/login", {
          method: "POST",

          headers: {
            "Content-Type": "application/json",
          },

          body: JSON.stringify({
            email: document.getElementById("email").value,

            senha: document.getElementById("senha").value,
          }),
        });

        const dados = await resposta.json();

        if (resposta.ok) {
          localStorage.setItem("token", dados.token);

          window.location.href = "/agenda";
        } else {
          document.getElementById("mensagem").innerText = dados.message;
        }
      });
    </script>
  </body>
</html>
